.dataTables_filter{
    float:right;
}
.dataTables_wrapper .pagination .page-item {
    margin: 0 6px;
}

.dataTables_wrapper .dataTables_paginate {
    padding-right: 15px;
}
#photodataTableList_paginate{
    float:right;
}
.notification-text {
    white-space: normal;       /* Allow line breaks */
    word-wrap: break-word;     /* Break long words */
    overflow-wrap: break-word; /* Better browser support */
    max-width: 100%;           /* Do not exceed container width */
}

#notificationModalBody ul.list-group {
    margin: 0;
    padding: 0;
}

#notificationModalBody li.list-group-item {
    word-break: break-word;    /* Ensure long messages wrap */
}